<!DOCTYPE html>
<html lang="en" ng-app="drupalTug">
<head>
  <title>Drupal-tug Gui</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <script type="text/javascript" src="jspm_packages/system.js" /></script>
  <script type="text/javascript" src="config.js" /></script>
  <script type="text/javascript">System.import('./app/app');</script>
  <script type="text/javascript" src="throbber.js-0.0.2/throbber.js" /></script>
	<script type="text/javascript" src="actions.js" /></script>

</head>
<body ng-controller="envCtrl">
  <h1>Drupal-tug Gui</h1>
  <div id="menu">
  <ul>
    <li><a href="#" id="build">Build</a></li>
   <li><a href="#" id="halt_containers">Halt</a></li>
   <li><a href="#" id="destroy_containers">Destroy</a></li>
 </ul>
 </div>

  <form id="config">
    <h2>Config</h2>
    <div ng-repeat="var in env_variables" ng-switch="var.name">
      <label ng-switch-when="drupal_user_1_username">Username</label>
      <label ng-switch-when="drupal_user_1_password">Password</label>
      <input  ng-switch-when="drupal_user_1_password" ng-model="var.value" >
      <input  ng-switch-when="drupal_user_1_username" ng-model="var.value" >

      <label ng-switch-default>{{var.name}}</label>

      <label ng-switch-when="scratch">Build from scratch</label>
      <input ng-switch-when="scratch" ng-model="var.value" type="checkbox" ng-true-value="'1'" ng-false-value="''">

      <label ng-switch-when="fast">Fast build</label>
      <input ng-switch-when="fast" ng-model="var.value" type="checkbox" ng-true-value="'1'" ng-false-value="''">

      <label ng-switch-when="sql_url">Select SQL file</label>
      <input ng-switch-when="sql_url" ng-model="var.value" electron-dialog>

      <input  ng-switch-default ng-model="var.value" >
    </div>
    <button ng-click="save()">Save</button>
    <p>{{msg}}</p>
</form>

<div id="output_container">
<h2>Output</h2>
<div><a href="#" id="clear_output">Clear Output</a></div>
<pre id="stdout">Nothing here&#10;&#13;</pre>
</div>

</body>
</html>
