<VirtualHost *:80>
  ServerAdmin info@initsix.co.uk
  ServerName apache-server
#  DocumentRoot /var/www/site/docroot/
  DocumentRoot /vagrant/src/docroot/
 
  #<Directory /var/www/site/docroot/>
  <Directory /vagrant/src/docroot/>
      Options Indexes FollowSymLinks MultiViews
      AllowOverride All
Require all granted
  </Directory>
 
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
 
</VirtualHost>
