#!/bin/bash

# This file is included by build_drupal.sh to set vagrant commands for use later in the script
# This isn't for general use.  If you want to set some variables try the ./env_variables.config file

source ./config/env_variables.config
source ./config/drupal_variables.config

##### No need to change below here #########

############################################
##### vagrant cmds
############################################

vagrant_apache_docker_run="vagrant --provider=docker docker-run apache-server"
vagrant_apache_docker_exec="vagrant docker-exec apache-server"

db_url="--db-url=mysql://${mysql_user}:${mysql_password}@${mysql_hostname}/${mysql_database_name}"

# drush cmd line
drush="/root/.composer/vendor/bin/drush -r ${apache_drupal_dir}  -y"

# create db
drush_create_db="${drush} sql-create --db-su=${mysql_user} --db-su-pw=${mysql_password} ${db_url} -y"

# site install
default_country="install_configure_form.site_default_country=${drupal_locale} my_profile_form.my_settings.key=value"
disable_install_email="install_configure_form.update_status_module='array(FALSE,FALSE)'"
install_profile="standard"

drush_site_install="${drush} si ${install_profile} --db-su=${mysql_user} --db-su-pw=${mysql_password} ${db_url} --account-name=${drupal_user_1_username} --account-pass=${drupal_user_1_password} --locale=${drupal_locale} --site-name=${site_name} --site-mail=${drupal_site_mail} ${disable_install_email} ${default_country}"

# drush sql-cli to restore the db
drush_restore_db="/vagrant/build_scripts/load_sql.sh"
drush_enable_memcache="${drush} en memcache"
drush_change_admin_passwd="${drush} upwd ${drupal_user_1_username} --password=${drupal_user_1_password}"
